ip vpn-instance {{ data.vpn_name }}
 ipv4-family
  route-distinguisher {{ data.vpn_rd }}
  vpn-target {{ data.vpn_rt }} both
  quit
quit
#
interface {{ data.interface_connect_CE }}           
 ip binding vpn-instance {{ data.vpn_name }}
 ip address {{ data.vpn_int_ip }} {{ data.vpn_int_mask }}
 quit
#
bgp {{ data.local_bgp_as }}
 ipv4-family vpn-instance {{ data.vpn_name }}
 import-route direct
 peer {{ data.vpn_bpg_ce_neighbor_ip }} as-number {{ data.neighbor_remote_as}}
 peer {{ data.vpn_bpg_ce_neighbor_ip }} substitute-as
 commit
 quit
#
