vrf definition {{ data.vpn_name }}
 rd {{ data.vpn_rd }}
 !
 address-family ipv4
  route-target export {{ data.vpn_rt }}
  route-target import {{ data.vpn_rt }}
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
interface {{ data.interface_connect_CE}}
 vrf forwarding {{ data.vpn_name }}
 ip address {{ data.vpn_int_ip }} {{ data.vpn_int_mask }}
!
router bgp {{ data.local_bgp_as }}
 address-family ipv4 vrf {{ data.vpn_name }}
  redistribute connected
  neighbor {{ data.vpn_bpg_ce_neighbor_ip }} remote-as {{ data.neighbor_remote_as }}
  neighbor {{ data.vpn_bpg_ce_neighbor_ip }} activate
  neighbor {{ data.vpn_bpg_ce_neighbor_ip }} as-override
  no synchronization
!
