interfaces {
  {{ interface_connect_CE }} {
    unit 0 {
      family inet {
        address {{ vpn_int_ip }}{{ vpn_int_mask }};
      }
    }
  }
}

routing-instances {
  {{ vpn_name }} {
    instance-type vrf;
    interface {{ interface_connect_CE }};
    route-distinguisher {{ vpn_rd }};
    vrf-target target:{{ vpn_rt }};
    protocols {
      bgp {
        group CE {
          type external;
          family inet {
            unicast;
          }
          neighbor {{ vpn_bpg_ce_neighbor_ip }} {
            peer-as {{ neighbor_remote_as }};
          }
        }
      }
    }
  }
}
