nornir==3.3.0
nornir-jinja2==0.2.0
nornir-netmiko==1.0.0
nornir_napalm==0.4.0
nornir_utils==0.2.0
napalm==4.1.0
napalm-huawei-vrp==1.1.0
typer==0.9.0
setuptools==68.0.0
wheel==0.41.0
webexteamsbot==0.1.4.2
tqdm==4.65.0
